logic_app/scale_down.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "fetch": {
        "inputs": {
          "authentication": {
            "type": "ManagedServiceIdentity"
          },
          "headers": {
            "x-functions-key": "@{body('get-secret')?['value']}"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          },
          "uri": "https://${function_name}.azurewebsites.net/api/fetch"
        },
        "runAfter": {
          "get-secret": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          },
          "secureData": {
            "properties": [
              "inputs",
              "outputs"
            ]
          }
        },
        "type": "Http"
      },
      "get-secret": {
        "inputs": {
          "parameters": {
            "secretName": "${function_app_key_name}"
          },
          "retryPolicy": {
            "type": "none"
          },
          "serviceProviderConfiguration": {
            "connectionName": "keyVault",
            "operationId": "getSecret",
            "serviceProviderId": "/serviceProviders/keyVault"
          }
        },
        "runAfter": {},
        "runtimeConfiguration": {
          "secureData": {
            "properties": [
              "outputs"
            ]
          }
        },
        "type": "ServiceProvider"
      },
      "scale-down": {
        "inputs": {
          "authentication": {
            "type": "ManagedServiceIdentity"
          },
          "body": "@outputs('fetch')",
          "headers": {
            "x-functions-key": "@{body('get-secret')?['value']}"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          },
          "uri": "https://${function_name}.azurewebsites.net/api/scale_down"
        },
        "runAfter": {
          "fetch": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          },
          "secureData": {
            "properties": [
              "inputs",
              "outputs"
            ]
          }
        },
        "type": "Http"
      },
      "terminate": {
        "inputs": {
          "authentication": {
            "type": "ManagedServiceIdentity"
          },
          "body": "@outputs('scale-down')",
          "headers": {
            "x-functions-key": "@{body('get-secret')?['value']}"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          },
          "uri": "https://${function_name}.azurewebsites.net/api/terminate"
        },
        "runAfter": {
          "scale-down": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          },
          "secureData": {
            "properties": [
              "inputs",
              "outputs"
            ]
          }
        },
        "type": "Http"
      },
      "transient": {
        "inputs": {
          "authentication": {
            "type": "ManagedServiceIdentity"
          },
          "body": "@outputs('terminate')",
          "headers": {
            "x-functions-key": "@{body('get-secret')?['value']}"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          },
          "uri": "https://${function_name}.azurewebsites.net/api/transient"
        },
        "runAfter": {
          "terminate": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "contentTransfer": {
            "transferMode": "Chunked"
          }
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "run-every-1-minute": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "type": "Recurrence"
      }
    }
  },
  "kind": "Stateful"
}
