modules/logic_app/scale_down.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "fetch": {
        "inputs": {
          "function": {
            "connectionName": "fetch-connection"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {},
        "runtimeConfiguration": {
          "secureData": {
            "properties": [
              "outputs"
            ]
          }
        },
        "type": "Function"
      },
      "scale-down": {
        "inputs": {
          "body": "@body('fetch')",
          "function": {
            "connectionName": "scale-down-connection"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "fetch": [
            "SUCCEEDED"
          ]
        },
        "runtimeConfiguration": {
          "secureData": {
            "properties": [
              "inputs",
              "outputs"
            ]
          }
        },
        "type": "Function"
      },
      "terminate": {
        "inputs": {
          "body": "@body('scale-down')",
          "function": {
            "connectionName": "terminate-connection"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "scale-down": [
            "SUCCEEDED"
          ]
        },
        "type": "Function"
      },
      "transient": {
        "inputs": {
          "body": "@body('terminate')",
          "function": {
            "connectionName": "transient-connection"
          },
          "method": "POST",
          "retryPolicy": {
            "type": "none"
          }
        },
        "runAfter": {
          "terminate": [
            "SUCCEEDED"
          ]
        },
        "type": "Function"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "triggers": {
      "run-every-1-minute": {
        "recurrence": {
          "frequency": "Minute",
          "interval": 1
        },
        "type": "Recurrence"
      }
    }
  },
  "kind": "Stateful"
}
